                {{#if success_msg}}
                        <p class="alert-success">{{{success_msg}}}</p>
                   {{/if}}
                   
                   {{#if danger_msg}}
                        <p class="alert-danger">{{{danger_msg}}}</p>
                   {{/if}}
