<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon/favicon.ico">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <title>WJ - Home</title>
</head>

<body>
    <!--carregar menu-->
    {{>_menu}}

    {{{body}}}
    <!--carregar roda pé-->
    {{>_footer}}

    <script src="/js/custom.js"></script>
</body>
</html>